body{
    background-color: white;
}

#crtMsg{
    background: linear-gradient(135deg, #10b981 0%, #059669 100%);
}
.bi-keyboard{
    font-size: 100px;
}
.bi-search{
    font-size: 50px;
    margin-bottom: 25px;
}
#suggestions div:hover{
    transform: scale(1.02);
    border: 2px solid rgb(0, 119, 255);
}
.card-header h1:hover{
    transform: scale(1.05);
}